* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.articulos {
    margin-bottom: 20px;
}

.secciones {
    padding: 20px;
}

.menu-secundario {
    margin-top: 20px;
}

footer {
    width: 100%;
    background-color: black;
    color: aliceblue;
}

footer p {
    text-align: center;
    padding: 20px;
}
